<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre">
        <label for="nombre-usuario">Nombre de usuario:</label>
        <input type="text" name="nombre-usuario" id="nombre-usuario">
        <label for="fecha-nac">Fecha de nacimiento:</label>
        <input type="date" name="fecha-nac" id="fecha-nac" value="2021-07-22" min="2018-01-01">
        <label for="domicilio">Domicilio:</label>
        <input type="text" name="domicilio" id="domicilio">
        <label for="domicilio">Domicilio:</label>
        <input type="text" name="domicilio" id="domicilio">
        <div></div>
        <label>¿Que quieres hacer?</label>
        <label for="nombre">Comprar:</label>
        <input type="radio" name="comprar" value="comprar">
        <label for="nombre">Vender:</label>
        <input type="radio" name="comprar" value="vender">
        <div></div>
        <label for="interes">Selecciona tu interes:</label>
        <label for="Electro">Electro:</label>
        <input type="checkbox" name="interes" value="Electro">
        <label for="Moda">Moda:</label>
        <input type="checkbox" name="interes" value="Moda">
        <label for="Hogar">Hogar:</label>
        <input type="checkbox" name="interes" value="Hogar">
        <label for="Juguetería">Juguetería:</label>
        <input type="checkbox" name="interes" value="Juguetería">
        <label for="Vida Sana">Vida Sana:</label>
        <input type="checkbox" name="interes" value="Vida Sana">
        <div></div>
        <input type="file" name="Fotografía" accept=".jpg" multiple="true">
        <label for="password">Password:</label>
        <input type="password" placeholder="password" value="password">
        <div></div>
        <button type="submit"><a href="/">Enviar</a></button>
        <div></div>
        <button type="reset">Borrar los datos</button>

        </input>

    </form>
</body>
</html>
